# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/

# Databases
*.db
*.sqlite

# Logs
*.log
err.txt

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Temp/User files
plantilla_copropietarios.xlsx
test_dialog.py
test_parser.py
